*{

padding: 0px;

margin: 0px;

}




body{

background-image: url("datos.jpg");

background-repeat: no-repeat;

}


.img{

position: relative;

 top: 100px;

width: 1000px;

height: 1000px;

border-radius: 10px;

background-repeat: no-repeat;

 

left: 180px;

background-image: url("medellin2.webp");

}

.contenedor{

 

height: 230px;

 

}

.texto{

font-size: 40px;

text-align: justify;

color: brown;

 

}
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }