*{

padding: 0px;

margin: 0px;

}




body{

background-image: url("datos.jpg");

background-repeat: no-repeat;

}
.ftecnologia{

    background-image: url("fondo2.png");
    
    background-repeat: no-repeat;
    
    }


.imgtecnologia{

position: relative;

 top: 150px;

width: 1000px;

height: 300px;

border-radius: 10px;

background-repeat: no-repeat;

 

left: 180px;

background-image: url("tecno.png");

}

.contenedor{

 

height: 230px;

 

}

.texto{

font-size: 40px;

text-align: justify;

color: brown;

 

}
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }

    .textotecno{

        font-size: 30px;
        
        text-align: justify;
        
        color: rgb(0, 0, 0);
        
         
        
        }

        .imgtecnologia2{

            position: relative;
            
             top: 50px;
            
            width: 1000px;
            
            height: 300px;
            
            border-radius: 10px;
            
            background-repeat: no-repeat;
            
             
            
            left: 180px;
            
            background-image: url("imgtecno.png");
            
            }

            .textosociales{

                font-size: 25px;
        
                text-align: justify;
                
                color: rgb(250, 255, 255);

            }
            
        .imgsociales1{

            position: relative;
            
             top: 50px;
            
            width: 1000px;
            
            height: 100px;
            
            border-radius: 10px;
            
            background-repeat: no-repeat;
            
             
            
            left: 200px;
            
            background-image: url("Mapa\ mental\ La\ Condición\ Humana\ \(2\).png");
        }

        