*{

padding: 0px;

margin: 0px;

}




body{

background-image: url("fondo5.jpg");

background-repeat: repeat;

}
.ftecnologia{

    background-image: url("fondo5.jpg");
    
    background-repeat: repeat;
    
    }


.imgtecnologia{

position: relative;

 top: 150px;

width: 1000px;

height: 300px;

border-radius: 10px;

background-repeat: no-repeat;

 

left: 180px;

background-image: url("tecno.png");

}

.contenedor{

 

height: 230px;

 

}

.texto{

font-size: 40px;

text-align: justify;

color: brown;

 

}
.contenido{

    height: 200px;
    
    width: 100%;
    
    position: absolute;
    
    top: 250px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }

    .textotecno{

        font-size: 30px;
        
        text-align: justify;
        
        color: rgb(253, 253, 253);
        
         
        
        }

        .imgtecnologia2{

            position: relative;
            
             top: 50px;
            
            width: 1500px;
            
            height: 300px;
            
            border-radius: 10px;
            
            background-repeat: no-repeat;
            
             
            
            left: 180px;
            
            background-image: url("imgtecno.png");

        
            
            }

            .textosociales{

                font-size: 30px;
        
                text-align: justify;
                
                color: rgb(252, 252, 252);

            }
            
        .imgsociales1{

            position: relative;
            
            float: left;
             top: 40px;

             width: 10000px;
                        
            height: 1000px;

            border-radius: 40px;
            
            background-repeat: no-repeat;
            
            left: 100px;
            
            background-image: url("Mapa\ mental\ La\ Condición\ Humana\ \(2\).png");
        }

        

        .contenido{

            height: 300px;
    
            width: 100%;
            
            position: absolute;
            
            top: 300px;
               
        }
       
       .imagenmate{

        position: relative;
            
         top: 60px;

         width: 500px;
                    
        height: 200px;

        border-radius: 10px;
        
        background-repeat: no-repeat;
        
        left: 60px;
        
        background-image: url("imagenmate3.avif");
       }
        
        
       .textomatematicas{

        font-size: 30px;
        
        text-align: justify;
                
         color: rgb(245, 234, 234);
       }


       .contenedor{

        height: 500px;
    
        width: 100%;
        
        position: absolute;
        
        
           
       }

       .imgingles{

        position: relative;
            
         top: 60px;

         width: 600px;
                    
        height: 500px;

        border-radius: 10px;
        
        background-repeat: no-repeat;
        
        left: 60px;
        
        background-image: url("imgingles.jpg");

       }


       .textoingles{

        font-size: 30px;
        
        text-align: justify;
                
         color: rgb(245, 234, 234);

       }

       .contenedor{
         
      
        height: 700px;
    
        width: 100%;
        
        position: absolute;
        
        top: 500px;
           
       }

       .textoetica{
      
        font-size: 30px;
        
        text-align: justify;
                
         color: rgb(245, 234, 234);


       }

      .imagenbiologia{

        position: relative;
            
        top: 60px;

        width: 700px;
                   
       height: 500px;

       border-radius: 10px;
       
       background-repeat: no-repeat;
       
       left: 60px;
       
       background-image: url("imagenbiologia.jpg");

      }

      .textobiologia{

        font-size: 30px;
        
        text-align: justify;
                
         color: rgb(245, 234, 234);
      }

   .contenido{

    height: 700px;
    
    width: 100%;
    
    position: absolute;
    
    top: 500px;
   }

   .textoreligion{

    font-size: 30px;
        
     text-align: justify;
                
     color: rgb(245, 234, 234);

   }

   .textoreligion2{

    font-size: 30px;
        
     text-align: justify;
                
     color: rgb(223, 218, 218);

   }

.imagenreligion{

    position: relative;
            
    top: 60px;

    width: 1000px;
               
   height:800px;

   border-radius: 10px;
   
   background-repeat: no-repeat;
   
   left: 60px;
   
   background-image: url("imagenreligion.png");
}

.contenido{

  height: 300px;

  width: 100%;
  
  position: absolute;
  
  top: 300px;
     
}


.textomatematicas{

  font-size: 30px;
      
   text-align: justify;
              
   color: rgb(245, 237, 237);

 }

 .imagentrinomio{

  position: relative;
          
  top: 60px;

  width: 1000px;
             
 height:800px;

 border-radius: 10px;
 
 background-repeat: no-repeat;
 
 left: 60px;
 
 background-image: url("imagenmate3.avif");
}
