.contenedor{
    
    width: 100%;
    height: 1400px;
    background-color: rgb(111, 183, 192);
}
.encabezado{

    width: 100%;
    height: 150px;
    background-color: rgb(17, 183, 189);
}
.menu{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(133, 151, 209);
}
.contenedor2{

    width: 100%;
    height: 1200px;
    background-color: rgb(245, 245, 33);
    display: flex;
}
.izquierdo{

    width: 20%;
    height: 1200px;
    background-color: rgb(126, 91, 182);
}
.centro{

    width: 60%;
    height: 1200px;
    background-color: white;
}
.derecho{

    width: 20%;
    height: 1200px;
    background-color: rgb(233, 124, 243);
}
.tecnologia{
 margin: 2px;
 height: 98px; 
 width: 100px;  
 background-color: rgb(147, 240, 147);

}
.ingles{
    margin: 2px;
    height: 98px;
    width: 100px;
    background-color: rgb(229, 163, 231);
}
.matematica{
    margin: 2px;
    height: 98px;
    width: 100px;
    background-color: deepskyblue;
}
.biologia{
    margin: 2px;
    height: 98px;
    width: 100px;
    background-color: rgb(111, 112, 187);
}
.sociales{
    margin: 2px;
    height: 98px;
    width: 100px;
    background-color: rgb(98, 226, 145);
}
.etica{
    margin: 2px;
    height: 98px;
    width: 100px;
    background-color: rgb(250, 180, 180);
}